button.button1{
    border-color: aqua;
    background-color: transparent;
    color: aqua;
}
.btn1{
    border-color: rgb(255, 81, 0);
    background-color: transparent;
    color: rgb(255, 68, 0);
}